  .productInHomePage{
    padding: 5%;
    width: 100%;
    height: 100%
  }

  .product{
    padding: 5%;
    width: 80%;
    height: 90%
  }

  .productDetail{
    margin-top: 6%;
    padding: 5%;
    width: 25%;
    height: 25%
  }

  .coverInHomePage{
    overflow: hidden;
    height: 40%;
    width: 100%
  }

  .cover{
    overflow: hidden;
    height: 40%;
    width: 40%
  }


