  .product {
    background: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    color: rgb(63, 20, 163);
    flex-basis: width;
    background-color: rgb(165, 230, 230);
  }

  .productDetail{
    background: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 47%;
    color: rgb(63, 20, 163);
    flex-basis: width;
    background-color: rgb(165, 230, 230);
  }


  .order {
    background: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    color: rgb(63, 20, 163);
    flex-basis: width;
    background-color: rgb(165, 230, 230);
  }

.float-container {
  padding: 20px;
}

.float-child {
  width: 45%;
  float: left;
  padding: 20px;
}  